.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
Package~.swift
Demos/DSFDropFilesView Demo/DSFDropFilesView Demo.xcodeproj/project.xcworkspace/xcshareddata
._Package.swift
Demos/DSFDropFilesView Demo/._DSFDropFilesView Demo.xcodeproj
Demos/DSFDropFilesView Demo/DSFDropFilesView Demo.xcodeproj/._project.xcworkspace
